* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "openSans";
  src: url(/open-sans/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: bold;
  
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

.logo {
  margin: 50px;
  display: flex;
}

.navMenu {
  display: flex;
  gap: 30px;
}

.nav {
  text-decoration: none;
}